.categoryList{
    margin: 0;
    padding: 0;
    height: 500px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  
}

.categoryItem{
    margin: 0;
    padding: 0;
    width: 200px;
 
   
    
    color: white;
 
}
.buttonToProducts{
    cursor: pointer;
}