.App{
    background-image: url("https://specials-images.forbesimg.com/imageserve/5d3703e2f1176b00089761a6/960x0.jpg?cropX1=836&cropX2=5396&cropY1=799&cropY2=3364");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}